* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: rgb(26, 124, 163);
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    color: #ffff
}

.right-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.right-container .profile {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}


.profile-top {
    grid-row: 1 / 2;
    display:grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr;
}

.top-left-profile {
    justify-self: flex-start;
    align-content: center;
}

.top-right-profile {
    align-content: center;

}

.profile-bottom {
    grid-row: 2 / 3;
    display:grid;
    grid-template-columns: 6fr 4fr;
}

.bottom-right-profile {
    justify-content: space-around;
    align-content: center;
}


.bottom-left-profile {
    justify-content: space-around;
    align-content: center;
}

.dashboard-contents {
    background-color: #e2e8f0;
}

.right-container .dashboard-contents {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 7fr 4fr;
}

.projects {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5px;
    /* overflow: auto; */
}

.project-header {
    text-align: left;
    margin-top: 15px;
    margin-left: 25px;
    font-weight: bolder;
    font-size: 20px
}

.annoucement-header, 
.trending-header {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 18px;
    font-weight: bolder;
    font-size: 20px
}

.notice {
    grid-row: 1/ 3;
    grid-column: 2/ 3;
    display: grid;
    grid-template-rows: 5% 1fr 5% 1fr;
}

.card {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 20px;
    margin-top:0px;
    
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
}

.card .title {
    font-size: 18px;
    text-align: left;
    font-weight: bold;

}

.announcement-card {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 20px;
    
}

.trending-card {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 20px;
    
}