* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: rgba(25, 146, 228, 0.781);
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.2fr 2fr 0.5fr;
    color: #ffff
}

.dashboard-logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: 0.5em;
    margin-left: 1.7em;
    margin-right: 0.5em;
    font-weight: bold;
}

.sidebar-big-icon {
    width: 2em;
    height: 2em;
    filter: invert(100%) sepia(8%) saturate(94%) hue-rotate(191deg) brightness(114%) contrast(100%)
}

.menu-top ul,
.menu-bottom ul {
    list-style-type: none;
    padding: 0;
}

.menu-top li,
.menu-bottom li {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin-left: 3em;
    font-weight: bold;
    font-size: 1.25em;
    gap: 0.25em
}


.menu-icon {
    width: 1.5em;
    height: 1.5em;
    filter: invert(100%) sepia(8%) saturate(94%) hue-rotate(191deg) brightness(114%) contrast(100%)
}

.right-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.right-container .profile {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}


.profile-top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.top-left-profile {
    margin-left: 2em;
    display: flex;
    justify-self: flex-start;
    gap: 0.25em
}

.search-icon {
    margin-left: 2vw;
    width: 2em;
    height: 2em;
}

.top-left-profile input[type="text"] {
    background-color: #e2e8f0;
    border-color: #ffff;
    border-radius: 6px;
    width: 40vw;
    height: 1.25em;
    font-size: 1.25em;
    box-shadow: none;
}


.top-right-profile ul {
    display: flex;
    /*Need to apply flex to ul */
    flex-direction: row;
    align-items: space;
    list-style-type: none;
    padding: 0;
    margin: 1em;
    gap: 1em;

}

.top-right-icon {
    width: 2em;
    height: 2em;
}


.profile-bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.big-account-icon {
    width: 4em;
    height: 4em;
}


.bottom-left-profile {
    display: flex;
    flex-direction: row;
    margin-left: 3em;
}

.bottom-left-profile .greeting-card p {
    font-size: 1.25em;
    margin-left: 0.5em;
}

.bottom-right-profile {
    display: flex;
    justify-content: center; /* centers the button conatiner horizontally */
    align-items: center; /* centers the button conatiner vertically */
}

.button-container {
    display: flex;
    gap: 1em 
}

.button-container button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: 1px solid #ffff;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bolder;
    background-color: rgba(25, 146, 228, 0.781);
}

.dashboard-contents {
    background-color: #e2e8f0;
}

.right-container .dashboard-contents {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 7fr 4fr;
}

.projects {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0.3em;
    /* overflow: auto; */
}

.project-header {
    text-align: left;
    margin-top: 1em;
    margin-left: 1em;
    font-weight: bolder;
    font-size: 1.5em
}

.annoucement-header,
.trending-header {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.8em;
    font-weight: bolder;
    font-size: 1.5em
}

.notice {
    grid-row: 1/ 3;
    grid-column: 2/ 3;
    display: grid;
    grid-template-rows: 5% 1fr 5% 1fr;
}

.card {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 1em;
    margin-top: 0em;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 1em;
    padding: 0.5em;
}

.card .title {
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;

}

.annoucement-header {
    font-weight: bold;
}

.announcement-card {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 1.2em;
    padding:1em;
}

.announcement-card li {
    list-style: none;
}

.announcement-card .announcement-title {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0.3em;
    padding-top: 0.3em
}

.announcement-card .announcement-content {
    font-size: 1em;
    padding-bottom: 0.5em;
}

.trending-card {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 1.2em;
}

.trending-content li {
    display: grid;
    list-style: none;

}

.trending-content-body li {
    
}